<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Movie Database (TMDb)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Movie Database (TMDb) is a popular, user editable database for movies and TV shows.">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.themoviedb.org/assets/2/favicon-16x16-b362d267873ce9c5a39f686a11fe67fec2a72ed25fa8396c11b71aa43c938b11.png">

        <script src="https://kit.fontawesome.com/efa78a0868.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <!-- vue container -->
        <div id="root">
            <header ref="header" :class="headerAnimation == true ? 'hide' : ''">
                <div class="wrapper">
                    <ul>
                        <li><img class="logo" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="The Movie Database (TMDb)"></li>
                        <li class="droppable"><a href="#">Film</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Popolare</a></li>
                                <li><a href="#">Adesso in onda</a></li>
                                <li><a href="#">In Arrivo</a></li>
                                <li><a href="#">Più Votati</a></li>
                            </ul>
                        </li>
                        <li class="droppable"><a href="#">Serie TV</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Popolare</a></li>
                                <li><a href="#">Oggi in onda</a></li>
                                <li><a href="#">In TV</a></li>
                                <li><a href="#">Più Votati</a></li>
                            </ul>
                        </li>
                        <li class="droppable"><a href="#">Persone</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Popolare Popolari</a></li>
                            </ul>
                        </li>
                        <li class="droppable"><a href="#">More</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Discussioni</a></li>
                                <li><a href="#">Classifica</a></li>
                                <li><a href="#">Supporto</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul>
                        <li><a href="#"><span class="fas fa-bars"></span></a></li>
                        <li><a href="#"><span class="fas fa-plus hamb"></span></a></li>
                        <li class="language hamb"><a href="#">IT</a></li>
                        <li class="hamb"><a href="#">Accedi</a></li>
                        <li class="hamb"><a href="#">Registrati a TMDb</a></li>
                        <li class="finder hamb"><a href="#"><img :src="toggleBtn == true ? 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-599-menu-close-7400e9a2ea92ad8d7cccf18d1ea34cd690790638a6e7768922eaef6e07109723.svg' : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-blue-177462d06db81ff2a02aa022c1c0be5ba4200d7bd3f51091ed9298980e3a26a1.svg'" alt="search" @click="toggleSearch" :class="toggleBtn == true ? 'active' : ''"></a></li>
                    </ul>
                </div>

                <div class="toggle-search" v-if="toggleBtn == true" :class="headerAnimation == true ? 'hide' : ''">
                    <input type="text" class="wrapper" placeholder="Cerca un film, serie tv, personagio..." v-model="userInput" ref="toggle-search" @keyup.enter="ajax()">
                </div>
            </header>

            <main>
                <div class="hero-section wrapper">
                    <div>
                        <h2>Benvenuto.</h2>
                        <h3>Milioni di film, serie TV e persone da scoprire. Esplora ora.
                        </h3>
                        <div class="finder-input">
                            <input type="text" name="" value="" placeholder="Cerca un film, serie tv, personagio..." v-model="userInput" ref="toggle-search" @keyup.enter="ajax()">
                            <button @click="ajax()">Search</button>

                            <!-- Helper -->
                            <div class="bot" :class="botHelper == true? 'active' : ''">
                                <p>Howdy 👋, do you need help? sorry these special characters are not allowed:</p>
                                <strong>#, @, ; , (double space)</strong>
                                <span @click="closeBtn()" class="bot-close btn">&#10005;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="search-title wrapper" v-if="checkMovies">Search Results: Movies - <span>{{ userOutputMovies.length }} results for "{{ userOutputString }}"</span> </h2>
                <div class="finder-output movies wrapper">
                    <ul class="card" v-for="(output, i) in userOutputMovies" @click="togglePopUp(i, userOutputMovies)">
                        <li>
                            <img :src="output.poster_path != null ? ('https://image.tmdb.org/t/p/w185/' + output.poster_path) : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'" :alt="output.title" :class="output.poster_path == null ? 'no_poster' : ''">
                        </li>
                        <li>
                            <h4>{{ output.title }}</h4>
                            <h5>({{ output.original_title }})</h5>
                        </li>
                        <li class="lang">Language:
                            <div>
                                <img
                                class="flag" :src="lang(output.original_language)"/>
                                <span>{{ output.original_language }}</span>
                            </div>
                        </li>
                        <li class="score">
                            <span :class="starsCounter(output, j)" v-for="j in 5"></span>
                        </li>
                    </ul>
                </div>

                <h2 class="search-title wrapper" v-if="checkTvShows">Search Results: TV Shows - <span>{{ userOutputTvShows.length }} results for "{{ userOutputString }}"</span></h2>
                <div class="finder-output tvshows wrapper">
                    <ul class="card" v-for="(output, i) in userOutputTvShows" @click="togglePopUp(i, userOutputTvShows)">
                        <li>
                            <img :src="output.poster_path != null ? ('https://image.tmdb.org/t/p/w185/' + output.poster_path) : 'https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg'" :alt="output.title" :class="output.poster_path == null ? 'no_poster' : ''">
                        </li>
                        <li>
                            <h4>{{ output.name }}</h4>
                            <h5>({{ output.original_name }})</h5>
                        </li>
                        <li class="lang">Language:
                            <div>
                                <img
                                class="flag" :src="lang(output.original_language)"/>
                                <span>{{ output.original_language }}</span>
                            </div>
                        </li>
                        <li class="score">
                            <span :class="starsCounter(output, j)" v-for="j in 5"></span>
                        </li>
                    </ul>
                </div>

                <div class="pop-container" :class="popContainer == true ? 'active' : ''">
                    <div class="select-preview" v-if="activeSelection.item != -1">
                        <div class=left>
                            <img :src="'https://image.tmdb.org/t/p/w500/' + activeSelection.container[activeSelection.item].poster_path" :alt="activeSelection.item != -1 ? activeSelection.container[activeSelection.item].title :  ''">
                        </div>

                        <div class="right">
                            <div class="top">
                                <h3>{{ activeSelection.container[activeSelection.item].hasOwnProperty('title') ?  activeSelection.container[activeSelection.item].title : activeSelection.container[activeSelection.item].name }}</h3>

                                <h5>Story.</h5>
                                <p>{{ activeSelection.container[activeSelection.item].overview }}</p>

                                <div class="more-info">
                                    <h5>Original title.</h5>
                                    <span>{{ activeSelection.container[activeSelection.item].hasOwnProperty('original_title') ? activeSelection.container[activeSelection.item].original_title : activeSelection.container[activeSelection.item].original_name}}</span>

                                    <h5>Original language.</h5>
                                    <span class="or_lang">{{ activeSelection.container[activeSelection.item].original_language }}</span>

                                    <h5>Release date.</h5>
                                    <span>{{ activeSelection.container[activeSelection.item].hasOwnProperty('release_date') ? activeSelection.container[activeSelection.item].release_date : activeSelection.container[activeSelection.item].first_air_date }}</span>

                                    <h5>Genre.</h5>
                                    <span>{{ userOutputGenres }}</span>

                                    <h5>Rating</h5>
                                    <span><span :class="starsCounter(activeSelection.container[activeSelection.item], j)" v-for="j in 5"></span></span>
                                </div>
                            </div>

                            <ul class="bottom social-icons">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-tiktok"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span> </a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                            </ul>
                        </div>
                        <span @click="closePop()" class="pop-close btn">&#10005;</span>
                    </div>
                </div>
            </main>

            <footer>
                <div class="wrapper">
                    <ul>
                        <li><a href="#"><img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt=""></a></li>
                        <button>unisciti al gruppo</button>
                    </ul>
                    <ul>
                        <li>le basi</li>
                        <li><a href="#">Info su TMDb</a></li>
                        <li><a href="#">Contattaci</a></li>
                        <li><a href="#">Forum di supporto</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">System Status</a></li>
                    </ul>
                    <ul>
                        <li>mettersi in gioco</li>
                        <li><a href="#">Guida Contributi</a></li>
                        <li><a href="#">Applicazioni di terze parti</a></li>
                        <li><a href="#">Aggiungi nuovo film</a></li>
                        <li><a href="#">Aggiungi nuova serie TV</a></li>
                    </ul>
                    <ul>
                        <li>community</li>
                        <li><a href="#">linee guida</a></li>
                        <li><a href="#">discussioni</a></li>
                        <li><a href="#">classifica</a></li>
                        <li><a href="#">twitter</a></li>
                    </ul>
                    <ul>
                        <li>legale</li>
                        <li><a href="#">Condizioni d'uso</a></li>
                        <li><a href="#">Termini d'uso delle API</a></li>
                        <li><a href="#">Politica Privacy</a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
