/* general settings */
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h2, h3 {
    color: #ffffff;
}

h4, h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

h2 {
    font-size: 48px
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}

#root {
    position: relative;
}

/* header */
header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #032541;
    display: flex;
    transition: all .3s ease;
}

header.hide {
    top: -80px;
}

header > div {
    display: flex;
    width: 100%;
}

header div ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header div ul:last-of-type {
    justify-content: flex-end;
}

li {
    list-style-type: none;
    padding: 15px;
    font-weight: 700;
}

a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

header .fa-plus {
    margin-right: 15px;
}

.language {
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid #ffffff;
    margin-right: 15px;
}

.language:hover {
    background-color: #ffffff;
}

.language:hover a {
    color: #032541;
}

header .finder img {
    width: 30px;
    height: 40px;
}

header .finder img.active {
    filter: invert(1);
}

.logo {
    width: 170px;
}

.wrapper {
    max-width: 1550px;
    margin: auto;
}

.toggle-search {
    position: fixed;
    background-color: #ffffff;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    top: 80px;
    width: 100%;
    transition: all .3s ease;
}

.toggle-search input {
    width: 100%;
    border: none;
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-blue-177462d06db81ff2a02aa022c1c0be5ba4200d7bd3f51091ed9298980e3a26a1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale();
}

.toggle-search input::placeholder {
    padding-left: 20px;
}

.toggle-search input:focus {
    outline: none;
}

.toggle-search.hide {
    top: 0;
}

header .hamb {
    display: none;
}

header .fa-bars {
    font-size: 24px;
}

/* dropdown */
header .droppable {
    position: relative;
}

header .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    min-width: 220px;
    top: 40px;
    padding: 10px 0;
}

header .droppable:hover .dropdown-menu {
    display: block;
}

header .dropdown-menu li {
    white-space: nowrap;
    padding: 10px 20px;
}

header .dropdown-menu li:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

header .dropdown-menu li a {
    color: #000000;
    font-weight: 300;
    width: 100%;
}


/* hero section */
.hero-section .bot {
    position: absolute;
    bottom: 80px;
    left: 0px;
    background-color: white;
    padding: 35px 20px 20px 20px;
    width: 270px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 100;
    border-radius: 5px;
    box-shadow: 0 1px 24px rgba(45,62,80,0.12);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    transition: opacity .3s ease;
}

.hero-section .bot.active {
    visibility: visible;
    opacity: 1;
}

.hero-section .bot::before {
    content: '';
    background-image: url(https://img.icons8.com/cotton/2x/popcorn.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: -35px;
    transform: rotate(-20deg);
    left: calc(50% - 40px);
}

.hero-section .bot::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 20px;
    transform: rotate(45deg);
}

.hero-section .bot .bot-close {
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-size: 25px;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.hero-section {
    height: 500px;
    background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero-section div {
    width: 100%;
}

.finder-input {
    position: relative;
    text-align: center;
}

.hero-section input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 110px 0 20px;
    font-size: 16px;
    margin-top: 50px;
}

.hero-section input:focus {
    outline: none;
}

.hero-section input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.hero-section button {
    font-size: 16px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(3,183,222,1) 0%, rgba(29,212,171,1) 80%);
    color: #ffffff;
    cursor: pointer;
}

.hero-section button:hover {
    color: #032541;
}

button:focus {
    outline: none;
}

/* output */
.finder-output {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 12px;
    min-height: calc((100vh - 310px - 520px - 10px) / 2);
}

.search-title {
    color: #000000;
    font-size: 24px;
}

.search-title:not(:first-of-type) {
    margin-top: 30px;
}

.search-title span{
    font-weight: 500;
    font-size: 18px;
}

.card {
    margin: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card li {
    font-size: 12px;
    padding: 0;
}

.card li:nth-of-type(2) {
    font-size: 14px;
}

.card li:nth-of-type(3), .card li:nth-of-type(4), .card li:nth-of-type(5) {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.card li > img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.card li > img.no_poster {
    background-color: #dbdbdb;
    height: 255px;
}

.card li img:hover {
    transform: scale(1.04);
}

.card li:last-of-type {
    display: flex;
    justify-content: flex-start;
}

.card .score, .card .lang {
    margin-top: 5px;
}

.card .fa-star {
    font-size: 16px;
    color: #064b70;
    margin-right: 5px;
}

.card .flag {
    width: 30px;
    vertical-align: middle;
}

.card .lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .lang span{
    text-transform: uppercase;
    vertical-align: middle;
}

/* select-preview */
.pop-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

.pop-container.active {
    visibility: visible;
    opacity: 1;
}

.select-preview {
    position: absolute;
    width: 800px;
    height: 600px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.select-preview > div {
    float: left;
    height: 100%;
    width: 50%;
}

.select-preview > span {
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-size: 25px;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.select-preview .left img {
    height: 100%;
}

.select-preview .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-preview .right:last-of-type {
    padding: 50px 25px 30px;
}

.select-preview .right h3  {
    color: #000000;
    margin-bottom: 10px;
}

.select-preview .right h4  {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin-bottom: 10px;
}

.select-preview .right h5  {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-width: unset;
}

.select-preview .right p  {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 20px;
    max-height: 130px;
    overflow-y: auto;
}

.select-preview .right .top span  {
    position: static;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.select-preview .social-icons {
    display: flex;
    justify-content: space-between;
}

.select-preview .social-icons span {
    font-size: 18px;
}

.select-preview .social-icons a {
    color: #000000;
    font-size: 22px;
    margin-right: 10px;
    display: inline-block;
}

.select-preview .right .more-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.select-preview .right .or_lang {
    text-transform: uppercase;
}

.select-preview .right .top .fa-star {
    border: none;
    margin: 0 3px;
}

/* footer */
footer {
    height: 300px;
    background-color: #032541;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #01b4e4;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer img {
    width: 120px;
    height: 100px;
}

footer ul {
    padding: 15px;
}

footer ul:first-of-type li {
    text-align: right;
}

footer ul li:first-of-type {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 5px;
}

footer ul li:not( :first-of-type) {
    font-size: 17px;
    color: red;
    text-transform: capitalize;
    font-weight: 300;
    padding: 5px;
}

@media screen and (min-width: 1140px) {
    header .hamb {
        display: block;
    }

    header .fa-bars {
        display: none;
    }
}
